{% extends "base.html" %}
{% load static %}

{% block head %}

    <link rel="stylesheet" href="{% static 'css/general.css' %}">
    <title>Izdavanje knjiga</title>

{% endblock %}

{% block body %}

    {% include "components/form.html" %}
    {% include "components/table.html" %}

{% endblock %}
{% block script %}
    <script>
        const form = document.getElementById("register-form");
        const csrf = document.getElementsByName("csrfmiddlewaretoken");
        const deleteList = document.querySelectorAll(".btn-close");
        const rows = document.getElementsByClassName("trow");

        console.log(rows)
        
        // Deleting the issued book
        for(let i = 0; i < deleteList.length; i++){
            deleteList[i].addEventListener("click", () => {
                const url = `${ form.dataset.url }actions/${ deleteList[i].dataset.id }`;
                $.ajax({
                    type: "DELETE",
                    headers: {"X-CSRFToken": csrf[0].value},
                    url: url,
                    success: response =>{
                        item = deleteList[i].parentNode.parentNode;
                        item.parentNode.removeChild(item);
                    },
                    error: error =>{
                        console.log(error)
                    },
                    cache: false,
                    contentType: false,
                    processData: false,
                })
            })
        }

        // Updating the return status of the book
        for(let i = 0; i < rows.length; i++){
            rows[i].addEventListener("click", () => {
                const url = `${ form.dataset.url }actions/${ deleteList[i].dataset.id }`;
                $.ajax({
                    type: "PUT",
                    headers: {"X-CSRFToken": csrf[0].value},
                    url: url,
                    success: response =>{
                        console.log(response.returnStatus, response.returnDate, response.debt)
                        if(response.returnStatus){
                            const element = document.querySelectorAll(`[data-id=${ response.id }]`);
                            element.classList.add("alert-success")
                        }
                        else{
                            const element = document.querySelectorAll(`[data-id=${ response.id }]`);
                            element.classList.add("alert-danger")
                        }
                    },
                    error: error =>{
                        console.log(error)
                    },
                    cache: false,
                    contentType: false,
                    processData: false,
                })
            })
        }
    </script>
{% endblock %}