{% extends "base.html" %}
{% load static %}

{% block head %}

    <link rel="stylesheet" href="{% static 'css/general.css' %}">
    <title>Izdavanje knjiga</title>

{% endblock %}

{% block body %}

    {% include "components/form.html" %}
    {% include "components/table.html" %}

{% endblock %}
{% block script %}
    <script>
        const form = document.getElementById("register-form");
        const csrf = document.getElementsByName("csrfmiddlewaretoken");
        const deleteList = document.querySelectorAll(".btn-close");
        const rows = document.getElementsByClassName("trow");

        // Deleting the issued book
        for(let i = 0; i < deleteList.length; i++){
            deleteList[i].addEventListener("click", () => {
                const url = `${ form.dataset.url }actions/${ deleteList[i].dataset.id }`;
                $.ajax({
                    type: "DELETE",
                    headers: {"X-CSRFToken": csrf[0].value},
                    url: url,
                    success: response =>{
                        item = deleteList[i].parentNode.parentNode;
                        item.parentNode.removeChild(item);
                    },
                    error: error =>{
                        console.log(error)
                    },
                    cache: false,
                    contentType: false,
                    processData: false,
                })
            })
        }

        // Updating the return status of the book
        for(let i = 0; i < rows.length; i++){
            rows[i].addEventListener("click", () => {
                const url = `${ form.dataset.url }actions/${ deleteList[i].dataset.id }`;
                $.ajax({
                    type: "PUT",
                    headers: {"X-CSRFToken": csrf[0].value},
                    url: url,
                    success: response =>{
                        console.log(response.returnStatus, response.returnDate, response.debt)
                        const element = deleteList[i].parentNode.parentNode // Table row
                        if(response.returnStatus){
                            // Change row color
                            element.classList.add("alert-success");
                            element.classList.remove("alert-danger");
                            
                            // Updating the row data
                            let td = element.getElementsByTagName("td")[4]
                            let status = element.getElementsByTagName("td")[5]
                            let debt = element.getElementsByTagName("td")[6]

                            td.innerHTML = response.returnDate
                            status.innerHTML = response.returnStatus
                            debt.innerHTML = response.debt
                        }
                        else{
                            // Change row color
                            element.classList.remove("alert-success");
                            element.classList.add("alert-danger");

                            // Updating the row data
                            let td = element.getElementsByTagName("td")[4]
                            let status = element.getElementsByTagName("td")[5]
                            let debt = element.getElementsByTagName("td")[6]

                            td.innerHTML = "None"
                            status.innerHTML = "False"
                            debt.innerHTML = "0.00"
                        }
                    },
                    error: error =>{
                        console.log(error)
                    },
                    cache: false,
                    contentType: false,
                    processData: false,
                })
            })
        }
    </script>
{% endblock %}