body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    width: 90%;
    gap: 10px;
}

#register-form{
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: auto;
}

#register-button{
    margin-top: 10px;
    width: 100%;
}