{% extends "base.html" %}
{% load static %}

{% block head %}

    <link rel="stylesheet" href="{% static 'css/general.css' %}">
    <title>Rezervacije knjiga</title>

{% endblock %}

{% block body %}

    {% include "components/form.html" %}
    {% include "components/table.html" %}
    
{% endblock %}
{% block script %}
    <script>
        const form = document.getElementById("register-form");
        const csrf = document.getElementsByName("csrfmiddlewaretoken");
        const deleteList = document.querySelectorAll(".btn-close");
        
        for(let i = 0; i < deleteList.length; i++){
            deleteList[i].addEventListener("click", () => {
                const url = `${ form.dataset.url }actions/${ deleteList[i].dataset.id }`;
                console.log(url)
                $.ajax({
                    type: "DELETE",
                    headers: {"X-CSRFToken": csrf[0].value},
                    url: url,
                    success: response =>{
                        item = deleteList[i].parentNode.parentNode;
                        item.parentNode.removeChild(item);
                    },
                    error: error =>{
                        console.log(error)
                    },
                    cache: false,
                    contentType: false,
                    processData: false,
                })
            })
        }
    </script>
{% endblock %}