{% load static %}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
  <div class="container-fluid">
    <a class="navbar-brand" href="/" style="display: flex; flex-direction: row; align-items: flex-end; font-size: 12px; line-height: 12px;"><img src="{% static 'images/lmsSVG.svg' %}" alt="Logo">MSŠ "prof. Omer Filipović" Ključ</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mx-auto">
          <li class="nav-item">
            <a class="nav-link {% if request.path == '/home/' %} active {% endif %}" href="{% url 'home-view' %}">Početna</a>
          </li>
          <li class="nav-item">
            <a class="nav-link {% if request.path == '/home/' %} active {% endif %}" href="{% url 'tutorial-view' %}">Pomoć</a>
          </li>
          {% for group in request.user.groups.all %}
            {% if group.name ==  "book-editing" %}
              <li class="nav-item">
                <a class="nav-link {% if request.path == '/book/' %} active {% endif %}" href="{% url 'book-view' %}">Knjige</a>
              </li>
            {% elif group.name == "student-editing" %}
              <li class="nav-item">
                <a class="nav-link {% if request.path == '/student/' %} active {% endif %}" href="{% url 'student-view' %}">Učenici</a>
              </li>
            {% elif group.name == "issue-editing" %}
              <li class="nav-item">
                <a class="nav-link {% if request.path == '/issue/' %} active {% endif %}" href="{% url 'issue-view' %}">Iznajmljivanje knjiga</a>
              </li>
            {% elif group.name == "reservation-editing" %}
              <li class="nav-item">
                <a class="nav-link {% if request.path == '/reservation/' %} active {% endif %}" href="{% url 'reservation-view' %}">Rezervacija knjiga</a>
              </li>
            {% endif %}
          {% endfor %}
          {% if user.is_superuser %}
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              API
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="{% url 'api-schema' %}">API Shema</a></li>
              <li><a class="dropdown-item" href="../api-documentation">API Documentation</a></li>
              <li><a class="dropdown-item" href="{% url 'bookapi' %}">Book API</a></li>
              <li><a class="dropdown-item" href="{% url 'classapi' %}">Class API</a></li>
              <li><a class="dropdown-item" href="{% url 'studentapi' %}">Student API</a></li>
            </ul>
          </li>
          {% endif %}
      </ul>
      <ul class="navbar-nav ml-auto">
        {% if request.user.is_authenticated %}
          <li class="nav-item">
            <a class="nav-link active disabled">{{ user }}</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="{% url 'logout-view' %}">Logout</a>
          </li>
          {% else %}
          <li class="nav-item">
            <a class="nav-link active" href="{% url 'login-view' %}">Login</a>
          </li>
        {% endif %}
      </ul>
    </div>
  </div>
</nav>