{% load filters %}
<div class="table-responsive" id="table-content">
    <table id="table" class="table table-hover">
        <thead>
            <tr>
                {% for tfield in tfields %}
                    <th>{{ tfield }}</th>
                {% endfor %}
                {% if request.path != "/" %}
                    <th>Izbriši</th>
                {% endif %}
            </tr>
        </thead>
        <tbody>
            {% if querySet %}
              
                {% for data in querySet %}

                    <tr class="trow{% if request.path == '/issue/' or request.path == '/reservation/' %} {% if data.returnStatus %} alert-success {% else %} alert-danger {% endif %} {% endif %}">              
                        
                        {% for field in fields %}    
                            <td>{% get_data data field %}</td>
                        {% endfor %}

                        {% if request.path != "/" %}
                            <td><button type="button" class="btn-close {% if request.path == '/issue/' %} {% if data.returnStatus %} disabled {% endif %} {% endif %}" aria-label="Close" data-id="{{ data.id }}" id="delete-item"></button></td>
                        {% endif %}
                    </tr>                           

                {% endfor %}
                    
            {% else %}
                    
                <tr><td colspan="{{ tlength }}" class="table-danger" style="text-align: center;">Nemate podataka za prikaz</td></tr>

            {% endif %}
        </tbody>
    </table>
</div>